<% if destinations.any? %>
  <h1>Below are the destinations that you've created</h1>
  <ul>
    <% destinations.each do |destination| %>
      <li><%= link_to destination.display_name, destination_path(destination) %>
        <%= link_to "Edit", edit_destination_path(destination), class: "edit" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1>You don't have any destinations yet.</h1>
<% end %>

<hr>
<%= link_to "Add Destination", new_destination_path %>
<hr>

<% if current_user.insights.any? %>
  <h1>Below are the insights that you've added</h1>
  <ul>
    <% current_user.insights.each do |insight| %>
      <li>
        <%= insight.body %>
        <%= link_to insight.destination.display_name, destination_path(insight.destination) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h1>You don't have any insights yet.</h1>
<% end %>
