<h1>Destinations index page</h1>

<%= form_tag destinations_path, method: "GET" do %>
  <%= text_field_tag :query, params[:query], placeholder: "city or country" %>
  <%= submit_tag "Search" %>
<% end %>

<% destinations.each do |destination| %>
  <%= link_to image_tag(destination.image_url), destination_path(destination) %>
  <%= destination.city %>
  <%= destination.country %>
  <%= link_to "Edit Destination", edit_destination_path(destination) %>
<% end %>
