<h1 data-display-name="<%= destination.display_name %>" id="display-name">Visit <%= destination.display_name %>!</h1>

<%= image_tag destination.image_url %>
<%= destination.currency %>
<%= destination.language %>
<div id="weather"></div>

<% if current_user == destination.user %>
  <%= link_to "Edit Destination", edit_destination_path(destination) %>
<% end %>

<h2>Talk about your experience. Places to visit? What are some of the hidden gems you've discovered from the locals?</h2>
<div id="insight-error"></div>
<%= form_for Insight.new, remote: true do |f| %>
  <%= f.text_field :body %>
  <%= f.hidden_field :destination_id, value: destination.id %>
  <%= f.submit %>
<% end %>

<ul class="insights">
<% insights.each do |insight| %>
  <li>
    <%= insight.user.username %>
    <%= insight.body %>
  </li>
<% end %>
</ul>
