<h1 data-display-name="<%= destination.display_name %>" id="display-name">Visit <%= destination.display_name %>!</h1>

<div class="top-show">
  <%= image_tag destination.image_url, class: "show-page" %>
  <div class="show-page">
    Currency: <%= destination.currency.capitalize %>
    <br>
    Language: <%= destination.language.capitalize %>
    <br>
    Current weather: <div id="weather"></div>
  </div>
</div>

<hr>
<% if current_user == destination.user %>
  <%= link_to "Edit Destination", edit_destination_path(destination) %>
  <hr>
<% end %>

<h2>Talk about your experience. Places to visit? What are some of the hidden gems you've discovered from the locals?</h2>

<div id="insight-error"></div>

<div class="form-wrapper">
  <%= form_for Insight.new, remote: true do |f| %>
    <%= f.text_field :body %>
    <%= f.hidden_field :destination_id, value: destination.id %>
    <%= f.submit %>
  <% end %>
</div>

<ul class="insights">
  <% insights.each do |insight| %>
    <li>
      <%= insight.user.username %>
      <%= insight.body %>
    </li>
  <% end %>
</ul>
