<!DOCTYPE html>
<html>
<head>
  <title>Weasel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      <%= link_to "Sign Out", signout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", signin_path %>
      <%= link_to "Sign Up", signup_path %>
    <% end %>
  </header>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% elsif flash[:success] %>
    <%= flash[:success] %>
  <% end %>
<%= yield %>

</body>
</html>
