<!DOCTYPE html>
<html>
<head>
  <title>Weasel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="main-wrapper">
  <header>
    <%= link_to image_tag('logo.png'), root_path %>
    <% if current_user %>
      <%= link_to "Sign Out", signout_path, class: "pull-right", method: :delete %>
    <% else %>
      <%= link_to "Sign Up", signup_path, class: "pull-right" %>
      <%= link_to "Sign In", signin_path, class: "pull-right" %>
    <% end %>
  </header>

  <% if flash[:notice] %>
    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:success] %>
    <div class="flash-success">
      <%= flash[:success] %>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
